aws_region   = "ap-south-1"
environment  = "staging"
project      = "tudumm"

# VPC
vpc_cidr             = "10.0.0.0/16"
availability_zones   = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]
private_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
public_subnet_cidrs  = ["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]

# EKS
eks_version        = "1.31"
node_instance_type = "m5.xlarge"
node_desired_size  = 3
node_min_size      = 2
node_max_size      = 10

# RDS
db_instance_class    = "db.t3.medium"
db_allocated_storage = 100

# Redis
redis_node_type = "cache.t3.medium"
